<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimalCrossingQR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnimalCrossingQR.Properties.Settings>
            <setting name="AuthorName" serializeAs="String">
                <value>Someone</value>
            </setting>
            <setting name="AuthorTown" serializeAs="String">
                <value>Nowhere</value>
            </setting>
            <setting name="AuthorUniqueID" serializeAs="String">
                <value>00:00:00:00:00:00</value>
            </setting>
        </AnimalCrossingQR.Properties.Settings>
    </userSettings>
</configuration>